<ion-header>
  <ion-toolbar backgrond color="primary">
    <ion-title>Maak een account aan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">

  <br>
  <div class="form">
    <ion-item lines='none'>
      <ion-input placeholder='Volledige naam'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='Postcode'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='Adres'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='Email adres'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='+31'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='Wachtwoord' type='password'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='Wachtwoord Herhalen' type='password'></ion-input>
    </ion-item>

    <ion-button color='dark' expand='block' routerLink="/home">Bevestigen</ion-button>
  </div>De praktijk is geopend van ma/vrij: van 09:00 tot 16:00

</ion-content>