.logo{
    margin-top: 7;
    img{
    height: 100px;
    }
   }
   
   .form{
     ion-item{
       border-radius: 5px;
       border-color: rgb(180, 179, 179);
       border-width: 2px;
       border-style: solid;
       margin-bottom: 10px;
     }
   } 