<ion-header>
  <ion-toolbar backgrond color="primary">
    <ion-title>Medicatie inname</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text color="primary">
    <h4>1 Diclofenac p/dag
     
    </h4>
  </ion-text>

  <ion-text color="primary">
    <h4>2 Salbutamol p/dag
     
    </h4>
  </ion-text>

  <ion-text color="primary">
    <h4>2 Omeprazol p/dag
     
    </h4>
  </ion-text>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button tab="chevron-back-circle" routerLink="/medicatie">
  <ion-icon name="chevron-back-circle">
  </ion-icon>
  </ion-fab-button>
  </ion-fab>

</ion-content>
