<ion-header>
  <ion-toolbar backgrond color="primary">
    <ion-title>112</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <ion-content class="ion-padding ion-text-center">
        <div class="avatar">
        <img src='https://cdn-icons-png.flaticon.com/512/4858/4858173.png' routerLink="/dialscreen">
      </div>
      </ion-content>
      
    
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button tab="chevron-back-circle" routerLink="/homepagina">
        <ion-icon name="chevron-back-circle">
        </ion-icon>
        </ion-fab-button>
        </ion-fab>

      </ion-content>