<ion-header>
  <br>
  <ion-title color="primary">Hi Romano!</ion-title>
  <br>
    <ion-content class="ion-padding ion-text-center">
    <div class="avatar">
    <img src='https://cdn-icons.flaticon.com/png/512/145/premium/145857.png?token=exp=1638535692~hmac=6d6a0c6bfa99eecfab73dd037400fa1d'>
  
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" tab="chevron-back-circle" routerLink="/berichten">
        <ion-badge color="danger">1</ion-badge>
        <ion-icon name="chatbox-ellipses-outline">
      </ion-icon>
      </ion-fab-button>
      </ion-fab>
    
  </div>

  
  </ion-content>


  <br>
<ion-button expand="full" routerLink="/afspraakmaken">Afspraak maken</ion-button>
<ion-button expand="full" routerLink="/bloedonderzoek">Bloed onderzoek</ion-button>
<ion-button expand="full" routerLink="/specialist">Specialist</ion-button>
<ion-button expand="full" routerLink="/medicatie">Medicijnen</ion-button>
<ion-button expand="full" routerLink="/home">Uitloggen</ion-button>
</ion-header>



    <ion-content>
    <ion-tabs>
  
      <ion-tab tab="home">
        <ion-nav></ion-nav>
      </ion-tab>
    
      <ion-tab tab="settings">
        <ion-nav></ion-nav>
      </ion-tab>
    
      <ion-tab tab="EPD">
        <ion-nav></ion-nav>
      </ion-tab>
    
      <ion-tab tab="Chat">
        <ion-nav></ion-nav>
      </ion-tab>
  
      <ion-tab tab="112">
        <ion-nav></ion-nav>
      </ion-tab>
    
      <ion-tab-bar slot="bottom">
  
        <ion-tab-button tab="Home">
          <ion-icon name="Home-sharp"></ion-icon>
          <ion-label>Home</ion-label>
          <ion-badge></ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="settings" routerLink="/settings">
          <ion-icon name="settings-sharp"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="EPD" routerLink="/epd">
          <ion-icon name="file-tray-stacked-sharp"></ion-icon>
          <ion-label>EPD</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="Chat" routerLink="/chat">
          <ion-icon name="chatbox-sharp"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="112" routerLink="/alarmnummer">
          <ion-icon name="medical-sharp"></ion-icon>
          <ion-label>112</ion-label>
        </ion-tab-button>

  
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-content>
  

