<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Berichten
    </ion-title>
  

    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>


</ion-header>    


<ion-content [fullscreen]="true">

  <ion-text>
  <ion-content class="ion-padding ion-text-center">
      
    
    <ion-text color="danger">
      <h4>Let op: 23 dec. is de praktijk dicht
       
      </h4>
    </ion-text>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button tab="chevron-back-circle" routerLink="/homepagina">
<ion-icon name="chevron-back-circle">
</ion-icon>
</ion-fab-button>
</ion-fab>

<div class="ion-padding">



 
</div>

</ion-content>  