<ion-header>
  <ion-toolbar backgrond color="primary">
    <ion-title>Afspraak maken</ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content class="ion-padding ion-text-center">

  <div class="logo">
  
  <img src='https://cdn-icons-png.flaticon.com/512/194/194938.png' />
  </div>
  <br>
  <div class="form">
  <ion-item lines='full'>
  <ion-input placeholder='Volledige naam'></ion-input>
  </ion-item>
  
  <ion-item lines='full'>
  <ion-input placeholder='Geboortedatum'></ion-input>
  </ion-item>

  <ion-item lines='full'>
    <ion-input placeholder='Klachten'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>D MMM YYYY H:mm</ion-label>
      <ion-datetime display-format="D MMM YYYY H:mm" min="1997" max="2010" value="2005-06-17T11:06Z"></ion-datetime>
    </ion-item>
  <br>
  
  <ion-button color='dark' expand='block' routerLink="/homepagina">Indienen</ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button tab="chevron-back-circle" routerLink="/homepagina">
    <ion-icon name="chevron-back-circle">
    </ion-icon>
    </ion-fab-button>
    </ion-fab>
  
  </ion-content>

