
<ion-content class="ion-padding ion-text-center">

  <div class="logo">
  
  <img src='https://cdn-icons-png.flaticon.com/512/194/194917.png' />
  </div>
  <br>
  <div class="form">
  <ion-item lines='none'>
  <ion-input placeholder='Enter email'></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
  <ion-input placeholder='Wachtwoord' type ='password'></ion-input>
  </ion-item>
  
  <ion-button color='dark' expand='block' routerLink="/homepagina">Inloggen</ion-button>
  </div>
  <ion-button fill="clear" routerLink="/maakeenaccountaan">Maak een account aan</ion-button>
  <br>
  <br>
  <br>
  <br>
  <ion-button color='danger' expand='block' routerLink="/alarmnummer">SPOED</ion-button>

</ion-content>



